.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    /* Animation */
    transition-timing-function: ease-in;
    transition: all 1s;
}

.navBlack {
    background-color: #111;
}

.navLogo {
    width: 140px;
    object-fit: contain;
}

.navAvatar {
    width: 30px;
    object-fit: contain;
    position: fixed;
    right: 20px;
}